exploit-cookies
mnt
/ops/*
/opt/*
test-op
.vscode/

dist/
data
/arsenic
/tmp

.hugo/public
.hugo/resources/
node_modules/# Ignore packer output directories
output-*

overrides.yaml
test/
node_modules/
.hugo_build.lock
scratch
