#! /bin/bash
if [ "$ARSENIC_INIT" != 1 ]; then
  export ARSENIC_INIT=1
  which figlet 2>&1 > /dev/null && figlet arsenic || echo Imagine arseninc in big letters...

  if [[ -n "$BASH_VERSION" ]]; then
    pushd `dirname ${BASH_SOURCE[0]}` > /dev/null
  else
    pushd `dirname $0` > /dev/null
  fi

  ARSENIC_PATH=`pwd`
  popd > /dev/null

  ARSENIC_OPT_PATH=$(dirname $ARSENIC_PATH)
  export PATH="$(echo $(ls -d $ARSENIC_OPT_PATH/*/bin) | sed 's/ /:/g'):$PATH"


  # iterate of *.arsenicrc files and source them
  ls -d $ARSENIC_OPT_PATH/*/*.arsenicrc | while read rcfile; do
    echo "[+] Loading $rcfile"
    source "$rcfile"
  done


  if [ -e $HOME/.oprc ]; then
    source $HOME/.oprc
  fi

  export RPROMPT='☠️'
fi
