#! /bin/bash

_add_to_path(){
    if ! echo "$PATH" | tr : '\n' | grep -q "^$1$"; then
        PATH="$1:$PATH"
    fi
}

export ARSENIC_INIT=1
which figlet 2>&1 > /dev/null && figlet arsenic || echo Imagine arseninc in big letters...

if [[ -n "$BASH_VERSION" ]]; then
  pushd `dirname ${BASH_SOURCE[0]}` > /dev/null
else
  pushd `dirname $0` > /dev/null
fi

export ARSENIC_PATH=`pwd`
popd > /dev/null

export ARSENIC_OPT_PATH=$(dirname $ARSENIC_PATH)

for bin in $ARSENIC_OPT_PATH/*/bin ; do
  _add_to_path "$bin"
done

for bin in $ARSENIC_PATH/scripts/*; do
  _add_to_path "$bin"
done

if [[ -n "$GOPATH" && -d "$GOPATH/bin" ]]; then
  _add_to_path "$GOPATH/bin"
fi

export PATH

# iterate of *.arsenicrc files and source them
# setopt +o nomatch
for rcfile in $ARSENIC_OPT_PATH/*/*.arsenicrc 2>/dev/null ; do
  echo "[+] Loading $rcfile"
  source "$rcfile"
done
# setopt -o nomatch

if [ -e $HOME/.oprc ]; then
  source $HOME/.oprc
fi
